<div>
  <h1 class="font-bold text-4xl"> Try the following rodauth-rails links: </h1>
  <p><%= link_to("login" ,rodauth.login_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("create-account" ,rodauth.create_account_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("verify-account-resend" ,rodauth.verify_account_resend_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("verify-account" ,rodauth.verify_account_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("change-password" ,rodauth.change_password_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("change-login" ,rodauth.change_login_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("logout" ,rodauth.logout_path, method: :post, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("remember" ,rodauth.remember_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("reset-password-request" ,rodauth.reset_password_request_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("reset-password" ,rodauth.reset_password_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("verify-login-change" ,rodauth.verify_login_change_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("close-account" ,rodauth.close_account_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
</div>