<div>
  <h1 class="font-bold text-4xl"> Try the following rodauth-rails links: </h1>
  <p><%= link_to("login" ,rodauth.login_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("create-account" ,rodauth.create_account_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("verify-account-resend" ,rodauth.verify_account_resend_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("verify-account (This will only work via token)" ,rodauth.verify_account_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("change-password" ,rodauth.change_password_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("change-login" ,rodauth.change_login_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("logout" ,rodauth.logout_path, method: :post, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("remember" ,rodauth.remember_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("reset-password-request" ,rodauth.reset_password_request_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("reset-password (This will only work via token)" ,rodauth.reset_password_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("verify-login-change (This will only work via token)" ,rodauth.verify_login_change_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>
  <p><%= link_to("close-account" ,rodauth.close_account_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %></p>

  <p>    
    <%= button_to "Email Auth Request (Requires Login)", rodauth.email_auth_request_path, method: :post, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600", params: {login: "freddie@queen.com"}  %>
  </p>
  <p>
    <%= link_to("Confirm Password", rodauth.confirm_password_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %> (Requires Login)
  </p>
  <p><%#= link_to("Recovery_codes" ,rodauth.recovery_codes_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %> (Requires Login)</p>  
</div>
<div class="mt-5">
  <h1 class="font-bold text-4xl"> To Be Done: </h1>    
  <p>
    <%= link_to "Manage MFA", rodauth.two_factor_manage_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600" %>
  </p>
  <p>    
    add_recovery_codes.html.erb - This view holds no bootstrap &#47; tailwind specific classes. 
  </p>
  <p>
  	<%= link_to("OTP" ,rodauth.otp_auth_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %> </p>
  	app/views/rodauth/otp_auth.html.erb
  </p>
  <p>app/views/rodauth/otp_disable.html.erb</p>
  <p>app/views/rodauth/otp_setup.html.erb</p>
  <p>app/views/rodauth/recovery_auth.html.erb</p>
  <p>app/views/rodauth/sms_auth.html.erb</p>
  <p>app/views/rodauth/sms_confirm.html.erb</p>
  <p>app/views/rodauth/sms_disable.html.erb</p>
  <p>app/views/rodauth/sms_request.html.erb</p>
  <p>app/views/rodauth/sms_setup.html.eWTTTrb</p>
  <p>app/views/rodauth/two_factor_auth.html.erb</p>
  <p>app/views/rodauth/two_factor_disable.html.erb</p>
  <p>app/views/rodauth/two_factor_manage.html.erb</p>
  <p>app/views/rodauth/unlock_account.html.erb
    <%= link_to("unlock_account - not working for some reason", rodauth.unlock_account_path , class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600") %>
  </p>
  <p>
    app/views/rodauth/unlock_account_request_path.html.erb    
  </p>
  <p>app/views/rodauth/webauthn_auth.html.erb</p>
  <p>app/views/rodauth/webauthn_remove.html.erb</p>
  <p>app/views/rodauth/webauthn_setup.html.erb</p>
</div>